<template>
	<div>
		<div class="inbox_msg">
	      <!--   <div class="inbox_people">
	          	<div class="headind_srch">
		            <div class="recent_heading">
		              	<h4>Recent</h4>
		            </div>
		            <div class="srch_bar">
		                <div class="stylish-input-group">
		                	<button class="btn btn-primary" @click="create">Create new</button>
						</div>
		            </div>
		        </div>
	          	<inbox></inbox>
	        </div> -->
	        <div class="mesgs">
	        	<message-history
	        		:fetch-url="fetchUrl"
	        		:submit-url="submitUrl"
	        		:chat-submit-url="chatSubmitUrl"
	        		:logged-user="loggedUser"
	        		:truncate-peer-url="truncatePeerUrl"
	        	></message-history>
	        </div>
	    </div>
	</div>
</template>
<script type="text/javascript">
	import Inbox from './Inbox.vue'
	import MessageHistory from './MessageHistory.vue'
	export default {
		props: {
			fetchUrl: String,
			submitUrl: String,
			chatSubmitUrl: String,
			loggedUser: String,
			truncatePeerUrl: String
		},

		components: {
			Inbox,
			MessageHistory
		},
	}
</script>