<template>
	<div>
		<div class="msg_history" >
			<div class="center">
				<p>Connected user : {{ clientConnections.size + 1}}</p>
			</div>
			<template v-for="message in messages">
			  	<div class="incoming_msg" v-if="message.incoming">
					<!-- <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div> -->
						<div class="received_msg" >
							<div class="received_withd_msg">
								<span>{{ message.from }}</span>
								<p>{{ message.incoming }}</p>
					      		<span class="time_date"><small>{{ message.created_at }}</small></span>
							</div>
						</div>
				</div>
			  	<div class="outgoing_msg" v-if="message.outgoing">
			    	<div class="sent_msg">
			      		<p>{{ message.outgoing }}</p>
			      		<span class="time_date"> {{ message.created_at }}</span>
			      	</div>
			  	</div>
		  	</template>
		</div>
		<div class="type_msg">
		  	<div class="input_msg_write">
		    	<input type="text" class="write_msg" placeholder="Type a message" v-model="message"/>
		    	<button class="msg_send_btn" type="button" @click="sendMessage"><i class="fa fa-paper-plane-o" aria-hidden="true" ></i></button>
		  	</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {
		props: {
			fetchUrl: String,
			submitUrl: String,
			chatSubmitUrl: String,
			loggedUser: String,
			truncatePeerUrl: String,
		},

		data() {
			return {
				peerId: null,
				message: null,

				messages: [],
				selfMessage: [],
				conn: null,

				peer: null,

				server: {},

				clientConnections: Immutable.Map({}),
			}
		},

		mounted() {
			this.init();
		},

		methods: {
			init() {
				axios.post(this.fetchUrl)
					.then(response => {
						if(response.data.channelIsAvailable) {
							this.server = response.data.peer;
							this.connectToConversation();
						} else {
							this.peerConnection()
						}
					}).catch(error => {

					})
			},

			peerConnection() {
				this.peer = new Peer();
				var $this = this;

				$this.peer.on('open', (id) => {
					if($this.peer.id == null) {
						$this.peer.id = $this.peerId;
					} else {
                        $this.peerId = $this.peer.id;
                    }

                    var payloads = {
                    	peer_id: $this.peerId
                    }

                    axios.post($this.submitUrl, payloads)
                    	.then(response => {

                    	}).catch(error => {

                    	})
				});

				$this.peer.on('connection', function (connection) {
					
					connection.on('open', () => {
						console.log(connection.peer + ' connection established ');
						$this.clientConnections = $this.clientConnections.set(
	                        connection.peer,
	                        connection,
	                    );
					});

					connection.on('close', () => {
	                    console.log(`Connection to ${connection.peer} is closed.`);
						$this.clientConnections = $this.clientConnections.delete(
						    connection.peer.toString(),
						);
					})

                    $this.conn = connection;
                    console.log("Connected to: " + $this.conn.peer);
                    // $this.ready();
                	
                	connection.on('data', (data) => {
                	    console.log('Recvied data:\n', data);

                	    

					    $this.clientConnections.forEach((connection) => { 
	                			console.log(connection)
		                	    var outgoing = {
			                		from: data.from,
			                		incoming: data.incoming, 
			                		created_at: data.created_at,
			                		peer_id: connection.peer,
			                		from_server: true,
			                		from_peer_id: data.from_peer_id
			                	}
	                			connection.send(outgoing); 
	                		})

		    			$this.messages.push(data);
                	});
                });

                $this.peer.on('disconnected', function () {
                    console.log('Connection lost. Please reconnect');
                    axios.post($this.truncatePeerUrl)
                    	.then(response => {}).catch(error => {})
                    // // Workaround for  peer.reconnect deleting previous id
                    // $this.peer.id = $this.peerId;
                    // $this.peer._lastServerId = $this.peerId;
                    // $this.peer.reconnect();
                });
                $this.peer.on('close', function() {
                    $this.conn = null;
                    status.innerHTML = "Connection destroyed. Please refresh";
                    console.log('Connection destroyed');
                });
                $this.peer.on('error', function (err) {
                    console.log(err);
                });

			},

			connectToConversation() {
				console.log('connecting');
				var $this = this;
				$this.peer = new Peer();
				console.log('My peer id : '+this.peer.id)
				var server = $this.server;
				
				setTimeout(() => {
					var conn = $this.peer.connect(server.peer_id);
					conn.on('open', () => { 
						$this.clientConnections = $this.clientConnections.set(
	                        conn.peer,
	                        conn,
	                    );
					})
					conn.on('close', () => {
					    console.log(`Connection to ${conn.peer} is closed.`,);

                    	axios.post($this.truncatePeerUrl)
                    		.then(response => {}).catch(error => {})
					});
					$this.conn = conn;
					$this.ready();
					console.log('connected');
				}, 2000)
			},

            sendMessage() {
            	var $this = this;
            	
            	if (this.conn && this.conn.open) {

            		this.clientConnections.forEach((connection) => { 
            			var outgoing = {
            				from: $this.loggedUser,
            				incoming: $this.message, 
            				created_at: moment().format('MMMM DD, YYYY hh:mm A'),
            				from_server: false,
            				peer_id: connection.peer,
            				from_peer_id: $this.peer.id,
            			}
            			console.log(connection)
            			connection.send(outgoing); 
            		})

            		this.messages.push({ outgoing: this.message, created_at: moment().format('MMMM DD, YYYY hh:mm A') })
            		
            		axios.post(this.chatSubmitUrl, { message: this.message })
            			.then(response => {

            			}).catch(error => {})

            		this.message = null;

            	}
            },

            ready() {
            	var $this = this;
            	this.conn.on('data', function (data) {
            		console.log("Data recieved", data, data.from_server, $this.peer.id);
            		if($this.peer.id != data.from_peer_id) {
		    			$this.messages.push(data);
            		}
            	});
            },
		}
	}
</script>