<template>
	<div>
	    <div class="table-responsive">
	        <table  class="table table-hover table-striped table-bordered text-center" style="white-space: nowrap">
	            <thead>
	                <tr>
	                    <th v-for="header in headers">{{ header.text }}</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr v-for="item in items">
	                	<td>{{ item.name }}</td>
	                	<td>{{ item.username }}</td>
	                	<td>
	                		<a class="btn btn-info btn-sm" :href="item.showUrl">
	                			<i class="fas fa-eye"></i>
	                		</a>
	                		<button type="button" class="btn btn-danger btn-sm" @click="remove(item)">
	                			<i class="fas fa-trash"></i>
	                		</button>
	                	</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</template>
<script type="text/javascript">
	export default {
		props: {
			fetchUrl: String
		},

		data() {
			return {
				items: []
			}
		},

		computed: {
			headers() {

				let array = [
				    { text: 'Name', },
				    { text: 'Username', },
				    { text: 'Action', },
				];

				return array;
			}
		},

		mounted() {
			this.fetch();
		},

		methods: {
			fetch() {
				axios.post(this.fetchUrl)
					.then(response => {
						this.items = response.data.items
					}).catch(error => {
						console.log(error)
					})
			},

			remove(item) {

			}
		}
	}
</script>