<template>
	<div>
		<form @submit.prevent="showConfirm" method="GET" action="javascript:void(0)">
			<input v-if="token" type="hidden" name="_token" v-model="token">

			<div class="card shadow-sm">
		        <div  class="card-header">
		            <h5 class="font-weight-bold m-0">User Information</h5>
		        </div>

		        <div class="card-body">
					<div class="row">
			    		<div class="form-group col-sm-4">
			    			<label>Name</label>
			                <input name="name" v-model="item.name" type="text" class="form-control">
			    		</div>

			    		<div class="form-group col-sm-4">
			    			<label>Username</label>
			                <input name="username" v-model="item.username" type="text" class="form-control">
			    		</div>

			    		<div class="form-group col-sm-4">
			    			<label>Password</label>
			                <input name="password" v-model="item.password" type="text" class="form-control">
			    		</div>
			    	</div>
		        </div>
				
				<div  class="card-footer">
		        	<div class="float-right">
		                <button type="submit" class="btn-primary btn">Save</button>
		            </div>
		        </div>
		    </div>
		</form>
	</div>
</template>
<script type="text/javascript">
	export default {
		props: {
			submitUrl: String,
			fetchUrl: String,

			fetchItem: {
				default: null,
				type: Object
			}
		},

		data() {
			return {
				item: {},

				token: null
			}
		},

		mounted() {
			this.fetch();
			this.setup();
		},

		methods: {
			fetch() {
				this.item = !_.isEmpty(this.fetchItem) ? this.fetchItem : this.item;
			},

			showConfirm() {
				var $this = this;
				swal.fire({
				  title: 'Are you sure?',
				  text: 'Are you sure you want to proceed with this action?',
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonText: 'Confirm',
				  cancelButtonText: 'Cancel'
				}).then((result) => {
				  if (result.value) {
				    $this.submit();
				  }
				})
			},

			submit() {
				axios.post(this.submitUrl, this.item)
			    	.then(response => {
			    		if(response.data.create) {
				    		this.item = {};
			    		}

			    		this.showSuccess(response.data.message);
			    	}).catch(error => {

			    	})
		    },

		    showSuccess(message) {
		    	swal.fire({
		    	  title: 'Hooray!',
		    	  text: message,
		    	  icon: 'success',
		    	  showCancelButton: false,
		    	  confirmButtonText: 'Okay',
		    	}).then((result) => {
		    	  
		    	})
		    },

			setup() {
				/* Get CSRF Token */
				let token = document.head.querySelector('meta[name="csrf-token"]');

				if (token) {
				    this.token = token.content;
				} else {
				    console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
				}
			}
		}

	}
</script>